@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --white1: #ffffff;--white2: #9ec3fc;--white3: #f1f9ff;--white4: #4d8dbe;
    --dark1: #161b27;--dark2: #1a2131;--dark3: #202e4d;
    --accent1: #5278e0;--accent2: #3f5aa7;--accent3: #3160e2;
    --title: #5278e0;--subtitle: #5774c2;--paragraph1: #ffffff;--paragraph2:#57678d;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all ease 100ms;
}
  /* width */
::-webkit-scrollbar{
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track{
    background: #2e2a42; 
}
  
  /* Handle */
::-webkit-scrollbar-thumb{
    background: #058ED9;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #45beff; 
}
html{
    font-size: 60.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--dark1);
}
section{
    min-height: 100vh;
    padding:0 9%;padding-top: 10.5rem;padding-bottom: 2rem;
}


/* == bagian header == */
.heading{
    text-align: center;
    background:var(--white1);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}
header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background: #284db477;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
#uwuactive{
    color: var(--white1);
    font-weight: 600;
}
header .logo{
    color: var(--white1);
    font-size: 2rem;
    font-weight: 600;
}
header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color:var(--white2);
}

header .navbar a:hover{
    color:var(--white1);
    border-top: 2px solid var(--white1);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color:var(--white1);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}


/* == bagian home == */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:url('https://lh3.googleusercontent.com/-YwRC_j2_TaY/YPUr0WyKgpI/AAAAAAAAAoY/prfBNNwT6Jo8qgVK40ozNljmI9q57dU_wCLcBGAsYHQ/w945-h600-p-k-no-nu/background%2Bhero.jpg') no-repeat; */
    /* background: url('https://i.redd.it/std4qgejmbzz.gif'); */
    background: url('./img/wallpaper\ 1.png');
    background-color: var(--dark1);
    background-size: cover;
    background-position: center;
}

.home .image img{
    width:40vw;
    animation: ngambang 3s ease-in-out infinite;
}
@keyframes ngambang{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}
.home .content h3{
    font-weight: 600;
    font-size: 6rem;
    color:var(--white1);
    text-transform: uppercase;
}
.home .content h3 span{
    color:var(--accent1);
    text-transform: uppercase;
}
.home .content p{
    font-size: 1.7rem;
    color:var(--paragraph2);
    padding:1rem 0;
}
.arrowdown{
    position: absolute;
    bottom: 10px;
    animation: uuu 2.1s ease-in-out infinite;
    padding-bottom: 30px;
}
.arrowdown img{
    width: 40px;
    height: 40px;
}
@keyframes uuu{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}

/* ========== bagian newsuwu ========== */
.newsinfou{
    background: url('./img/wallpaper\ 2.png') ;
    background-size: cover;
    background-position: center;
}
.m-container{
    background-color: var(--dark2);
    height: 70vh;
    padding: 3rem;
    display: flex;
    position: relative;
    border-radius: 50px;
}
.cimage{
    position: relative;
    max-width: 40%;
    height: auto;
    padding: 0 10px;
}
/* .newsimg{
    width: 100%;
    animation: matsuri 5s ease-in-out infinite;
}
@keyframes matsuri{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
} */

.cbbox{
    position: relative;
    width: 60%;
    padding: 0 10px;
    height: auto;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: wrap;
}
.cbox{
    position: relative;
    background-color: var(--dark3);
    padding: 20px;
    margin-bottom: 5px;
    width: auto;
    height: 100px;
    transition: all ease 1s;
    border: 1px solid var(--accent2);
    overflow: hidden;
}
.cbox:hover{
    background-color: #2a375c;
}
.cbox .cbox-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cbox .cbox-top .ctitle{
    color: var(--white1);
    font-size: 2rem;
}
.cbox .cbox-top .dateme{
    color: var(--white2);
    font-size: 1.2rem;
    font-weight: 400;
}
.cbox-middle{
    padding: 5px 0;
}
.cbox-middle p{
    color: var(--white4);
    font-size: 12px;
}
.cbox-middle p .label-mods{
    color: var(--white1);
    padding: 0 10px;
    background-color: var(--accent1);
    border-radius: 10px;
}
.cbox-middle p .label-admin{
    color: var(--white1);
    padding: 0 10px;
    background-color: coral;
    border-radius: 10px;
}



/* == bagian fitur == */
.features{
    background: url('./img/wallpaper\ 3.png') ;
    background-size: cover;
    background-position: center;
}
.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    flex:1 1 30rem;
    background:var(--dark2);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box i{
    font-size: 8rem;
    color: #fff;
}

.features .box-container .box h3{
    font-size: 2rem;
    color:var(--white1);
    padding-top: 1rem;
}

.features .box-container .box p{
    font-size: 1.3rem;
    color:var(--white2);
    padding: 1rem 0;
}

/* === bagian pricing === */
.pricing{
    background: url('./img/wallpaper\ 4.png') ;
    background-size: cover;
    background-position: center;
}
.pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.pricing .box-container .box{
    flex:1 1 27rem;
    margin:1rem;
    padding:1rem;
    background:var(--dark3);
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}
.pricing .box-container .box:hover{
    background-color:  #353b72;
}

.pricing .box-container .box .title{
    color:var(--white1);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.pricing .box-container .box .price{
    font-size: 3rem;
    color:var(--white2);
    padding:1rem 0;
}

.pricing .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}

.pricing .box-container .box ul{
    padding:1rem 0;
    list-style: none;
}

.pricing .box-container .box ul li{
    font-size: 1.7rem;
    color:var(--white2);
    padding:.5rem 0;
}

.pricing .box-container .box ul li .fa-check,
.pricing .box-container .box ul li .fa-clock,
.pricing .box-container .box ul li .fa-tint,
.pricing .box-container .box ul li .fa-magic{
    color:lightgreen;
}

.pricing .box-container .box ul li .fa-times,
.pricing .box-container .box ul li .fa-tint-slash{
    color:tomato;
}

.ads{
    background-color: var(--dark2);
}


/* media queries  */

@media (max-width:2000px){  

    .tombol-main,
    .tombol-second{
        font-size: 14px;
    }

}

@media (max-width:1200px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
    .m-container {
        border-radius: 30px;
    }
}

@media (max-width:768px){

    .tombol-main,
    .tombol-second{
        font-size: 12px;
    }

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:var(--dark3);
        padding:1rem 2rem;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 1.8rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }

    .newsletter p{
        width:auto;
    }
    .m-container {
        height: 70vh;
        padding: 3rem;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .cimage {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .cimage img {
        width: 30%;
        display: none;
    }
    .cbbox {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        flex: wrap;
    }
    .arrowdown {
        bottom: -120px;
    }
}

@media (max-width:425px){
    .cbbox {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        flex: wrap;
    }
    .cbox{
        height: auto;
    }
    .cbox .cbox-top .ctitle,
    .cbox .cbox-top .dateme{
        font-size: 1.3rem;
    }
    .cbox .cbox-middle p{
        font-size: 1.2rem;
    }
    .tombol-main,
    .tombol-second{
        font-size: 10px;
    }
    .arrowdown {
        bottom: 10px;
    }
    .m-container {
        border-radius: 10px;
    }
    .cbox-middle p .label-mods,
    .cbox-middle p .label-admin{
        padding: 0 5px;
    }
        /* width */
    ::-webkit-scrollbar{
        width: 5px;
    }
}
@media (max-width:320px){
    .footer-credits p{
        font-size: .7rem;
        color: var(--white1);
    }
    .tombol-main,
    .tombol-second{
        font-size: 10px;
    }
}
