html {
    background-color: var(--gray-2);
}

body {
    width: 100%;
    background-color: var(--gray-2);
}

header {
    position: relative;
    background-color: darkslateblue;
    min-height: var(--minheight);
    overflow-y: hidden;
    background-image: url('https://www.pikpng.com/pngl/b/129-1294604_download-confetti-png-transparent-picture-transparent-background-confetti.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    z-index: 10;
}

section {
    /* margin-block: 5rem; */
    padding-block: 1rem;
    max-width: 100%;
    /* min-height: 100vh; */
}

.navigasi_links{
    gap: 0;
}

.separator {
    min-width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--white);
    opacity: .3;
}

.pembagi{
    min-width: 100%;
    height: 20vh;
}

.tdark {
    color: var(--gray-7);
}

.wrappers {
    width: var(--width);
    max-width: var(--maxwidth);
    padding-inline: var(--wpadding);
    margin: auto;
}

.kontainer__konten-kiri{
    width: 100%;
    position: relative;
    padding-right: 4rem;
}

/** page layout **/
main {
    /* background-color: rebeccapurple; */
	display: grid;
	grid-template-columns: 80% 20%;
	max-width: var(--maxwidth);
    margin-top: 3rem;
	margin-inline: auto;
    color: var(--gray-7);
}

main .atitle {
    color: var(--blue-9);
    font-size: 2rem;
    padding-top: 2rem;
}

main .asubtitle {
    font-size: var(--font-size-3);
    padding-bottom: 1rem;
    padding-top: 2rem;
}

main .paraff{
    min-width: 100%;
    margin-bottom: 2rem;
    text-align: justify;
}

main .paraff a {
    color: var(--grape-8);
    text-decoration: dotted underline;
}

main img{
    padding: 1rem;
    background-color: var(--gray-3);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

.section-nav a.is-active {
    color: var(--blue-9);
    font-weight: 600;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 4px solid var(--grape-8);
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: 5px 0;
	color: var(--gray-5);
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: var(--grape-8);
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}

.slider-konten{
    position: relative;
    max-width: 70vw;
    /* filter: brightness(50%); */
}

.slider-konten img{
    position: relative;
    width: auto;
    max-height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-inline: 1rem;
}

.slick-dots{
    bottom: 0px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menux3{
    display: none;
}

@media (max-width:1024px) {
    main {
        /* background-color: tomato; */
        grid-template-columns: 75% 25%;
        max-width: 100%;
    }
}

@media (max-width:768px) {
    section {
        margin-block: 0;
        padding-block: 2rem;
        max-width: 100%;
        overflow: hidden;
    }

    .kontainer__konten-kiri{
        padding-right: 0;
    }
    .section-nav{
        position: fixed;
        min-height: 100vh;
        min-width: 250px;
        left: 0; top: 0;
        transform: translateX(-500px);
        transition: transform 0.8s ease-in-out;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        line-height: 3;
        padding-top: 3rem;
        padding-right: 20px;
        z-index: 100;
    }
    .section-nav.showed{
        transform: translateX(0px);
    }
    .section-nav li.active > a {
        color: var(--gray-1);
        font-weight: 600;
    }
    .section-nav a {
        text-decoration: none;
        display: block;
        padding: 5px 0;
        color: var(--gray-5);
        transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
    }
    
    .section-nav a:hover,
    .section-nav a:focus,
    .section-nav a.is-active {
        color: var(--gray-1);
    }
    .menux3{
        display: block;
        position: fixed;
        right: 20px; top: 55px;
        padding: 5px 8px;
        border-radius: 5px;
        color: var(--dark);
        background-color: var(--white);
        font-size: var(--font-size-0);
        box-shadow: var(--shadow-1);
        z-index: 9999;
    }

    main {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    main .atitle {
        color: var(--blue-9);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    main .asubtitle {
        font-size: var(--font-size-4);
    }
    
    main .paraff {
        text-align: left;
        font-size: var(--font-size-1);
    }
    
    .slider-konten{
        padding: auto;
        margin: auto;
        /* max-height: 50vh; */
    }
    .slider-konten img{
        position: relative;
        width: auto;
        margin-inline: 0;
    }
}


/* =============== */
