*,*::before,*::after{padding: 0;margin: 0;box-sizing: border-box;}

.kartu2 {
    position: relative;
    color: var(--light);
    margin-block: 15px;;
    overflow: hidden;
    filter: opacity(0.8);
    transition: ease-out 400ms;
}
    .kartu2:hover {filter: opacity(1);}


.kartu2 h3{margin-bottom: 1rem;}


    .kartu__blog
    {min-height: 20rem;flex: 1 1;}

    .kartu__blog {min-width: 20rem;max-width: 100%;}

.kartu2 .img1,.kartu2 .img2
    {object-fit: cover;margin-bottom: 2rem;width: 100%;}

    .kartu2 .img1{height: 25rem;}
    .kartu2 .img2{height: 15rem;}

.kartu__grid
{display: flex;justify-content: space-around;flex-wrap: wrap;gap: 3rem;}

    .kartu__grid a{color: var(--light);}


@media(min-width:426px) and (max-width:768px) {
    h2{font-size: var(--font-size-5);}
    .kartu2 .img1 {height: auto;}
}

@media(min-width:319px) and (max-width:425px) {
    h2{margin-block-end: 0rem;font-size: var(--font-size-4);}
    h3{font-size: var(--font-size-3);}
    .kartu2{padding: 1rem;}
    .kartu2 .img1,.kartu2 .img2 {height: auto;}
    .kartu__grid {gap: 0rem;}
}
