@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    /* COLOR SETTING */
    --light: #efefef;           --dark: #333333;
    --gray-7x: #3c4349;
    --brand-1: #14c773;         --brand-2: #1d9671;

}
@media (prefers-color-scheme: light) {
    h1,h2,h3,h4,h5,h6,ul,li {color: var(--light);}
    a,p{color: var(--gray-5);}
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
}

/* KONTAINER CLASS COLOR */
.c1{background-color: var(--gray-7);}
.c2{background-image: url("../image/bannerads.svg");background-position: center;background-size: cover;}
.c-ads{
    background-image: url('https://i.pinimg.com/originals/b5/e3/90/b5e3903051d2157407a446ecdc0c37b6.gif');
    background-position: center;
    border: 4px dashed var(--gray-7);
    transition: ease 500ms;
}
.c-dash{
    background-color: none;
    border: 4px dashed var(--gray-7);
    transition: ease 500ms;
}
    .c1:hover,.c2:hover,.c-ads:hover,.c-dash:hover {
        background-color: var(--gray-7);
    }

/* BADGE AND TOOLTIPS */
.badge {
    display: inline-block;
    margin-inline: 1rem;
    padding-inline: 3px;
    border-radius: 4px;
    color: var(--light);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}
    .b-wip{border: 2px solid var(--brand-1);}
    .b-demo{border: 2px solid var(--green-1);}
    .b-new{border: none; font-size: var(--font-size-1); color: var(--blue-3);}
    .b-off{border: none; font-size: var(--font-size-2); color: var(--lime-2);}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  transition: ease-out 300ms;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 200%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding-inline: 10px;
  padding-block: 5px;
  width: max-content;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: hsla(213, 11%, 20%, 0.9);
  font-weight: 400;
  color: var(--light);
  content: attr(data-tooltip);
  text-align: center;
  font-size: var(--font-size-0);
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* GLOBAL SETTING */
html {font-size: 95%;}
body {width: 100%;height: auto;background-color: var(--gray-3);}

/* TEXT SETTING */
h1,h2,h3,h4,h5,h6,p,ul,li,a 
{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;list-style: none;max-inline-size: none;}
h2{margin-block-end: 2rem;}
h4{margin-block-end: 1rem;}
p{margin-block-end: 1rem;font-size: var(--font-size-3);}

/* BUTTON SETTING */
a.tombol-1{
    /* position: absolute; */
    margin-block-start: 2rem;
    display: flex;
    max-width: fit-content;
    padding: 10px 15px;
    background-color: var(--brand-1);
    color: var(--light);
    font-size: var(--font-size-2);
    transition: ease-out 400ms;
}
    a.tombol-1:hover{
        background-color: var(--brand-2);
        color: var(--light);
    }
a.tombol-2{
    /* position: absolute; */
    margin-block-start: 2rem;
    display: flex;
    max-width: fit-content;
    padding: 10px 15px;
    border: 2px solid var(--brand-1);
    color: var(--light);
    font-size: var(--font-size-2);
    transition: ease-out 400ms;
}
a.tombol-2:hover{
        border: 2px solid var(--brand-2);
        background-color: var(--brand-2);
        color: var(--light);
    }

/* SCROLL BAR SETTING */
*::-webkit-scrollbar
{width: 10px;}
*::-webkit-scrollbar-track
{background: var(--gray-7);}
*::-webkit-scrollbar-thumb
{background-color: var(--blue-4);}

.menux{display: none;}

section.sect-left {
    position: relative;
    height: auto;
    max-width: 85%;
    padding: 15px 25px;
    margin-inline: auto;
    margin-block: 4rem 6rem;
}
section.sect-m {
    position: relative;
    height: auto;
    max-width: 85%;
    padding: 15px 25px;
    margin-inline: auto;
    margin-block: 4rem 6rem;
    text-align: center;
}
section.sect-d {
    position: relative;
    height: auto;
    max-width: 85%;
    padding: 15px 25px;
    margin-inline: auto;
    margin-block: 4rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
    .sect-d__kontainer{
        min-height: 25vh;
        display: flex;
        gap: 5rem;
    }
    .sect-d .block{
        position: relative;
        width: 150%;
    }
    .sect-d .blockt{
        position: relative;
    }
section.sect-mid{
    position: relative;
    background-image: url('https://media.moddb.com/images/members/5/4207/4206801/profile/discord.png');
    background-size: cover;
    height: auto;
    min-height: 40vh;
    padding: 15px 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pelurus{position: relative; display: flex; flex: 1 1; gap: 2rem; width: 100%; justify-content: center;}

/* PEMBERITAHUAN */
.announcement-kontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.announcement-kontainer a{
    position: absolute;
    right: 0px; top: 0px;
    cursor: pointer;
}

.kartu {
    position: relative;
    border-radius: 10px;
    padding: 1rem 2rem;
    color: var(--light);
    margin-block: 15px;;
}

.kartu__grid
    {display: flex;justify-content: space-around;flex-wrap: wrap;gap: 1rem;}
    .kartu__grid a{color: var(--light);}

.kartu__projects {
    min-width: 15rem;
    min-height: 10rem;
    flex: 1 1;
}

/* KONTAINER UTAMA */
.bungkus {
    display: flex;
}
.panel__utama {
    background-color: var(--gray-2);
    height: 100vh;
    flex: 1;
    display: flex;
    overflow: hidden;
}
.panel__utama .panel__utama-side {
    top: 0; left: 0;
    position: relative;
    background: var(--gray-7x);
    height: 100vh;
    width: 240px;
}

.panel__utama .panel__utama-side .logo{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-6);
    color: var(--light);
    display: flex;
    justify-content: center;
    padding-block: 3rem 2rem;
}
.panel__utama .panel__utama-side .list__links {
    padding: 7.5px;
}
.panel__utama .panel__utama-side .list__links li {
    display: block;
    border-radius: 5px;
    margin: 5px 1px;
    padding: 10px 15px;
}
    .panel__utama .panel__utama-side .list__links li:hover {
        background: var(--gray-7);
    }
    .panel__utama .panel__utama-side .list__links .active {
        background: var(--gray-7);
    }

.panel__utama .panel__utama-side .list__links a {
    color: var(--gray-5);
    text-decoration: none;
}

/* KONTEN */
.panel__utama .panel__utama-content {
    position: relative;
    background: var(--gray-8);
    color: var(--gray-5);
    flex: 1;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footer-grid{
    position: relative;
    background-color: var(--gray-7);
    max-width: 100%;
    min-height: 40vh;
}
    .grid__center{
        max-width: 85%;
        padding-block-start: 3rem;
        margin-inline: auto;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .grid__cell{
        min-width: 15rem;
        min-height: 10rem;
        flex: 1 1;
    }
        .grid__cell p{padding: 0rem;margin: 0rem;font-size: var(--font-size-3);}
        .grid__cell p a{color: var(--gray-5);}
        .grid__cell p a:hover{color: var(--gray-3);text-decoration: underline;}




@media(min-width:768px) and (max-width:1366px){
    html{font-size: 80%;}
    h2 {font-size: var(--font-size-5);}
    h3 {font-size: var(--font-size-4);}
    p {font-size: var(--font-size-2);}
    .sect-d .block {position: relative; width: 120%;}
    .sect-d .blockt {position: relative; width: 70%;}
    .kartu {border-radius: 5px; padding: 1rem 2rem;}
}

@media(max-width:768px) {
    .panel__utama .panel__utama-side {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.8s ease-in-out;
        z-index: 1000;
    }
    .panel__utama .panel__utama-side.show {
        transform: translateX(-20px);
    }
    .menux{
        display: block;
        position: fixed;
        right: 20px; top: 20px;
        padding: 5px 10px;
        border: 2px solid var(--light);
        border-radius: 5px;
        color: var(--light);
        opacity: .6;
        z-index: 1000;
    }
        .menux:hover{opacity: 1;}
}
@media(min-width:660px) {
    p {font-size: var(--font-size-3);}
}
@media(min-width:319px) and (max-width:425px) {
    h1{font-size: var(--font-size-5);}
    h2{font-size: var(--font-size-4);}
    h3{font-size: var(--font-size-3);}
    h4{font-size: var(--font-size-2);}
    p{font-size: var(--font-size-1);}
    .panel__utama .panel__utama-side {
        width: 70%;
    }
    .announcement-kontainer a{right: -10px;top: -5px;}
    section.sect-mid{text-align: center;}
    section.sect-left{max-width: 100%;}
    section.sect-d{max-width: 100%;}
        .sect-d__kontainer{flex-direction: column;align-items: center;}
        .sect-d__kontainer:nth-child(2){flex-direction: column-reverse;}
            .sect-d .block{width: 100%;}
            .sect-d .blockt{width: 100%;margin-block-start: 0;padding: 5px 10px;font-size: var(--font-size-1);}
    section.sect-m{max-width: 100%;}
    .pelurus {gap: 0rem;width: 100%;justify-content: center;flex-wrap: wrap;}
    a.tombol-1, a.tombol-2 {min-width: 100%;text-align: center;justify-content: center;}
    .grid__cell p{padding: 0;margin: 0;font-size: var(--font-size-1);}
    footer p{position: relative;font-size: 14px; justify-content: center;display: flex;align-items: center;padding-block-start: 1rem;}
}
