@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
/* BORDER FOR SETTING */
    --border: 1px solid #ffffff2f;

/* COLOR SETTING */
    --white: #fefefe;
    --dark: #333333;
    /* --surface: #fff; */

/* WIDTH SETTING */
    --maxwidth: 1440px;
    --width: 95%;
    --wpadding: 2rem;
}
@media (prefers-color-scheme: light) {
    body{background-color: var(--white);}
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{width: 10px;background-color: inherit;-ms-overflow-style: none;scrollbar-width: none;display: none;}
::-webkit-scrollbar-thumb{background-color: var(--blue-1);}
::-webkit-scrollbar-thumb:hover{background-color: var(--orange-5);}

::selection{background-color: var(--orange-5);color: var(--white);}

body{
    height: 100vh;
    background-color: var(--gray-2);
}

.link.nyala{
    color: var(--orange-3);
}

.bungkus{
    width: var(--width);
    max-width: var(--maxwidth);
    margin: auto;
}

/* FONT SETTING */
h1,h2,h3,h4,h5,h6,p,a,ol,ul,li{
    font-size: var(--font-size-1);
}

.title{font-size: var(--font-size-8);}
.subtitle{font-size: var(--font-size-5);}
.xsubtitle{font-size: var(--font-size-5);font-family: 'Montserrat' Arial, Helvetica, sans-serif;}

.highlight1{color: #ffbe47;}
/* AKHIR FONT SETTING */



/* NAVIGASAI MENU SETTING */
nav.navigasi{
    position: relative;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2rem;
    width: var(--width);
    max-width: var(--maxwidth);
    margin: auto;
    z-index: 100;
}
nav.navigasi .brand{
    position: relative;
    color: var(--white);
    font-weight: 600;
}
.navigasi_links{
    display: flex;
    gap: 1rem;
}
.navigasi_links a{
    transition: ease-in-out 200ms;
    font-weight: 400;
    color: var(--white);
}
    .navigasi_links a:hover{
        text-decoration: underline 2px;
    }

.menux{display: none;}
/* AKHIR NAVIGASI SETTING */



/* HEADER SETTING */
.kepala{
    position: relative;
    width: 100%;
    height: 105vh;
    overflow: hidden;
}

.mid-kontainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--wpadding);
}

.slider1{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-position-y: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: 1;
}

.kepala__konten {
    position: relative;
    z-index: 2;
}

.kepala__konten .title {
    color: var(--white);
    font-weight: 800;
    font-size: 4rem;
    line-height: .9;
    text-transform: uppercase;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-shadow: 5px 1px 10px var(--dark);
}

.kepala__konten .subtitle {
    color: var(--white);
    text-shadow: 5px 1px 10px var(--dark);
}

.kepala__konten .btnnow {
    display: flex;
    width: max-content;
    align-items: center;
    margin-top: 2rem;
    padding: 5px 10px;
    /* border: 2px solid var(--white); */
    color: var(--white);
    border-radius: 50px;
    box-shadow: var(--shadow-1);
    transition: ease-out 200ms;
}

.kepala__konten .btnnow .btn-caret1 {
    width: 16px;
    fill: var(--white);
    aspect-ratio: 1;
    padding-left: 5px;
    margin-right: 10px;
    animation:
    var(--animation-slide-out-right) infinite alternate;
    /* var(--animation-fade-out) infinite; */
    animation-timing-function: var(--ease-1);
    animation-duration: 2s;
}

    .kepala__konten .btnnow:hover {
        background-color: var(--white);
        color: var(--gray-8);
    }
    .kepala__konten .btnnow:hover > svg {
        fill: var(--gray-8);
    }

.herowave{
    position: absolute;
    bottom: -1px;
    fill: var(--gray-2);
    width: 100%;
    stroke: none;
    z-index: 1;
}
/* AKHIR HEADER SETTING */



/* SECTION RANGKUMAN SETTING */
section.rangkuman{
    position: relative;
    height: auto;
    background-color: var(--gray-2);
    overflow: hidden;
    padding-bottom: 3rem;
}

.backgrounddrop{
    position: absolute;
    top: 0; left: 0;
    background-size: cover;
    background-position: center;
    filter: opacity(.03);
    width: 100%;
    z-index: 1;
}

.kontainer__konten{
    position: relative;
    width: var(--width);
    max-width: var(--maxwidth);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    z-index: 5;
    padding-block: 3rem;
}

.xsubtitle{
    color: var(--dark);
    font-weight: 500;
    text-align: center;
    margin-block-end: 4rem;
    line-height: 1.1;
    /* background-color: tomato; */
    background-image: url('../image/wingstitle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-inline: 4rem;
}

.kartu__grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: var(--width);
    margin-top: 1rem;}

.kartu {
    position: relative;
    border-radius: 10px;
    padding: 2rem 2rem;
    color: var(--dark);
    margin-block: 15px;;
}

.kartu__projects {
    min-width: 15rem;
    min-height: 15rem;
    flex: 1 1;
    color: var(--white);
    text-shadow: 2px 1px 10px #0000002a;
    box-shadow: var(--shadow-2);
}

.orange{
    background-color: #e7b019;
    background-image: url('https://cdn141.picsart.com/301099921002211.png?r1024x1024');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.green{
    background-color: #09d85f;
    background-image: url('https://cdn.pixabay.com/photo/2022/04/11/08/21/paper-airplane-7125196_1280.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.purple{
    background-color: #8519af;
    background-image: url('https://dbdzm869oupei.cloudfront.net/img/sticker/preview/75499.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.blue{
    background-color: #745feb;
    background-image: url('https://www.maxpixel.net/static/photo/640/Drawing-Cut-Study-Sample-School-Sketch-6757104.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
}
.grayosh{
    background-color: #4a4f50;
    background-image: url('https://www.anindote.com/wp-content/uploads/2021/10/pattern-reversed-918x555.webp');
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    position: relative;
    overflow: hidden;
}

.orange,.green,.purple,.grayosh,.blue{
    transition: ease-out 300ms;}

.orange:hover,
.green:hover,
.blue:hover,
.grayosh:hover,
.purple:hover{
    filter:brightness(110%);
    box-shadow: var(--shadow-3);
}

.kartu__projects .icn-kartu{
    font-size: 5rem;
    fill: var(--white);
    padding-bottom: 10px;
}
.xparaf{
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--white);
}


/* SHIMERING SHINY SETTING */
.grayosh:before {
    content: "";
    display: block;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    background: var(--white);
    box-shadow: 0 0 20px 3px var(--white);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
    -webkit-animation: shinyy 4s 0s infinite;
    -moz-animation: shinyy 4s 0s infinite;
    animation: shinyy 4s 0s infinite;
}

@-webkit-keyframes shinyy {
    from {
    opacity: 0;
    left: -250%;
    }
    50% {
    opacity: 0.3;
    }
    to {
    opacity: 0;
    left: 550%;
    }
}
@-moz-keyframes shinyy {
    from {
    opacity: 0;
    left: -250%;
    }
    50% {
    opacity: 0.3;
    }
    to {
    opacity: 0;
    left: 550%;
    }
}
@keyframes shinyy {
    from {
    opacity: 0;
    left: -250%;
    }
    50% {
    opacity: 0.3;
    }
    to {
    opacity: 0;
    left: 550%;
    }
}
/* AKHIR RANGKUMAN SETTING */





/* BADGE SETTING */
.badge {
    display: inline-block;
    margin-inline-start: 1rem;
    padding-inline: 3px;
    border-radius: 4px;
    color: var(--white);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

    .b-new{
        border: none;
        font-size: var(--font-size-0);
        color: var(--white);
        padding: 2px 5px;
        background-color: var(--blue-4);
    }

    .b-baru{
        border: none;
        font-size: var(--font-size-0);
        color: var(--white);
        padding: 2px 5px;
        background-color: var(--orange-4);
    }
/* AKHIR BADGE SETTING */





/* START TOOLTIP */
[data-tooltip] {
    position: relative;
    z-index: 3;
    cursor: pointer;
}
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
        transition: ease-out 300ms;
    }
    /* POSISI BUAT TOOLTIP NYA */
    [data-tooltip]:before {
        position: absolute;
        bottom: 150%;
        left: 50%;
        transform: translateX(-50%);
        /* margin-bottom: 5px; */
        margin: auto;
        margin-bottom: 5px;
        padding-inline: 10px;
        padding-block: 5px;
        width: max-content;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: hsla(225, 5%, 16%, 0.9);
        font-weight: 400;
        color: var(--white);
        content: attr(data-tooltip);
        text-align: center;
        font-size: var(--font-size-0);
        line-height: 1.2;
    }
    /* NGATUR SEGITIGA KECILNYA BUAT POPUP */
    [data-tooltip]:after {
        content: " ";
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        font-size: 0;
        line-height: 0;
    }
    /* BUAT SHOW PAS HOVER */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }


/* JOIN FIGMA SETTING */
section.interest{
    position: relative;
    height: auto;
    min-height: 20rem;
    width: 100%;
    background-color: var(--gray-3);
    background-image: url('https://www.maxpixel.net/static/photo/640/Drawing-Cut-Study-Sample-School-Sketch-6757104.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-blend-mode:soft-light;
    color: var(--gray-7);
    display: flex;
    align-items: center;
}

    .bungkus__interest{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: var(--width);
        max-width: var(--maxwidth);
        margin: auto;
        padding-inline: var(--wpadding);
    }

section.interest .boxx{
    display: flex;
    align-items: center;
    gap: 2rem;
}

section.interest .xparaf{
    font-size: 3rem;
    display: flex;
    color: var(--gray-7);
    line-height: 1.5;
}

section.interest i.iconx{
    font-size: 6rem;
    color: var(--white);
    padding: 1rem 1.3rem;
    background-color: var(--blue-5);
    border-radius: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
    box-shadow: var(--shadow-2);
}

section.interest .boxx2{
    display: flex;
    /* margin: auto; */
    gap: 2rem;
}

section.interest .btnnow2{
    display: flex;
    align-items: center;
    padding: 1rem 20px;
    background-color: var(--gray-7);
    color: var(--white);
    gap: 1rem;
    transition: ease-in-out 300ms;
}
    section.interest .btnnow2:hover{
        background-color: var(--blue-5);
    }

.btnnow2 .btn-caret2 {
    fill: white;
    width: 16px;
    aspect-ratio: 1;
}
/* AKHIR FIGMA JOIN */



/* FOOTER SETTING */
footer{
    background-color: var(--gray-8);
    width: 100%;
    padding-block: 1rem;
    display: flex;
    align-items: center;
}
.bungkus__footer{
    /* background-color: tomato; */
    width: var(--width);
    max-width: var(--maxwidth);
    padding-inline: var(--wpadding);
    margin: auto;
}
.bungkus__footer p{
    color: var(--gray-2);
    font-size: var(--font-size-0);
    font-weight: 400;
}
/* AKHIR FOOTER SETTING */



@media(min-width:425px) and (max-width:870px) {
    .kontainer__konten{
        position: relative;
    }
    .bungkus__interest{
        min-height: 100vh;
        padding-block: 2rem;
        align-items: flex-start;
        flex-direction: column;
    }
    section.interest .boxx {
        gap: 0;
        align-items: flex-start;
        flex-direction: column;
    }
    .slider1{
        left: -100px; top: 0;
        width: 150%;
        background-size:cover;
        background-repeat: no-repeat;
    }
}

@media (max-width:768px) {
    .xsubtitle{
        font-size: var(--font-size-5);
        padding-inline: 3rem;
    }
    .herowave{
        display: none;
    }
    .navigasi_links{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        padding: 50px;
        transform: translateX(-500px);
        transition: transform 0.8s ease-in-out;
        z-index: 1003;
        background-color: var(--gray-7);
        line-height: 3;
    }
    .navigasi_links.show{
        transform: translateX(-20px);
    }
    .menux{
        display: block;
        position: fixed;
        right: 20px; top: 20px;
        padding: 2px 5px;
        border: 2px solid var(--white);
        border-radius: 5px;
        color: var(--white);
        z-index: 1001;
        font-size: var(--font-size-0);
    }
    .kontainer__konten{
        width: 100%;
    }
    section.rangkuman{
        padding-inline: var(--wpadding);
    }
    .kartu__grid{
        width: var(--width);
    }
}

@media(min-width:319px) and (max-width:580px) {
    html{
        font-size: 90%;
    }
    .xparaf{
        font-size: 1.2rem;
    }
    .xsubtitle{
        font-size: var(--font-size-4);
        padding-inline: 3rem;
        margin-block-end: 3rem;
    }
    .mid-kontainer{
        height: 70vh;
    }
    .kepala{
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .kepala__konten .title{
        font-size: var(--font-size-8);
        line-height: 1.2;
    }
    .kepala__konten .subtitle{
        padding-top: 1rem;
        font-size: var(--font-size-5);
    }
    .slider1{
        left: -250px; top: 0;
        width: 350%;
        background-repeat: no-repeat;
    }
    .bungkus__interest{
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        min-height: 80vh;
    }
    section.interest .xparaf {
        font-size: 2rem;
        line-height: 1;
    }
    section.interest .boxx {
        gap: 2rem;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }
    section.interest .boxx2{
        width: 100%;
    }
    section.interest .boxx2 .btnnow2{
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px 20px;
    }
}
