@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --white1: #ffffff;--white2: #9ec3fc;--white3: #f1f9ff;--white4: #4d8dbe;
    --dark1: #161b27;--dark2: #1a2131;--dark3: #202e4d;
    --accent1: #5278e0;--accent2: #3f5aa7;--accent3: #3160e2;
    --title: #5278e0;--subtitle: #5774c2;--paragraph1: #ffffff;--paragraph2:#57678d;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all ease 100ms;
}
.backgroundd{
    position: absolute;
    top: 0;left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--dark1);
    color: var(--white1);
    display: flex;
    justify-content: center;
    align-items: center
}
.containeru{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 700px;
    padding: 60px;
    background-color: var(--dark3);
    border-radius: 50px;
    animation: uwus 4s infinite;
    overflow: hidden;
}
@keyframes uwus {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.img-containeru{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.b-atas{
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.b-atas ul{
    display: flex;
}
.b-atas ul li{
    list-style: none;
    padding-left: 30px;
}
.b-atas ul li a{
    color: var(--white2);
    font-size: 20px;
    background-color: var(--dark2);
    padding: 5px 10px;
    border-radius: 50%;
}
.b-atas ul li a:hover{
    color: var(--white1);
    background-color: var(--accent2);
}
.b-tengah{
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.b-tengah .big-title{
    font-size: 20rem;
}
.b-tengah .desc-title{
    font-size: 4rem;
}
.b-bawah{
    background-color: coral;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 2;
}
.b-bawah .desc{
    font-size: 2rem;
}